.post {
  width: 385px;
  margin: 0px 25px 40px 25px;
}

.postImg {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 5px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: "Varela Round", sans-serif;
  font-size: 0.9rem;
  color: #be9656;
  line-height: 1.2rem;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  font-family: "Josephi Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
}

.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 0.8rem;
  color: #999;
}

.postDescription {
  font-family: "Varela Round", sans-serif;
  font-size: 0.9rem;
  color: #444;
  line-height: 1.2rem;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
